@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes typing{
  from {
    width: 0%;
  } to {
    width: 100%;
  }
}
@keyframes cursor {
  from, to {
    border-color: transparent;
  } 50% {
    border-color: currentColor;
  }
}

.animate-typing {
  animation: typing 2s steps(20, end), cursor 0.7s infinite;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid currentColor;
}

@keyframes text-fade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  } 20% {
 opacity: 1;
 transform: translateY(0);
  }
  80% {
    opacity: 1;
    
  } 100%{
    opacity: 0;
    transform: translateY(-10px);
  }
}
.text-fade{
  animation: textfade 5s infinite;
}
@keyframes projectcard{
  0%{
    background-color:  #bfdbfe;
  } 33%{
    background-color: #bbf7d0;
  } 66%{
    background-color: #fecaca;
  } 100%{
    background-color: #bfdbfe;
  }
}

.projectcard{
  animation: projectcard 1.5s infinite linear ;
}